<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-title class="header">Login</ion-title>
  </ion-header>

  <div class="body">

    <br>

    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div>
        <label>Email:</label>
        <input style="width: 90%;" type="email" id="email" name="email" [(ngModel)]="email"
          placeholder="john.doe@company.com" required #emailInput="ngModel">
        <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red;">
          Please enter a valid email address
        </div>
      </div> <br>
      <div>
        <label>Password:</label>
        <input style="width: 88%;" type="password" id="password" name="password" [(ngModel)]="password" required
          #passwordInput="ngModel">
      </div>
      <br>
      <button class="likeB" type="submit" [disabled]="registerForm.invalid" (click)="onSubmit()">
        Log In
      </button>
    </form>
    <br>
    <div class="likeB">
      <button (click)="onReset()">Reset Password</button>
      <button (click)="onSignUp()">Sign Up</button>
    </div>
  </div>

</ion-content>