<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-title class="header">Sign-up</ion-title>
  </ion-header>

  <div class="body">
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div> <br>
        <label for="email">Email:</label>
        <input style="width: 90%;" type="email" id="email" name="email" [(ngModel)]="email"
          placeholder="john.doe@company.com" required #emailInput="ngModel">
        <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red;">Please enter a valid email address
        </div>
      </div>
      <div class="mb-6"> <br>
        <label for="password">Password:</label>
        <input style="width: 88%;" type="password" id="password" name="password" [(ngModel)]="password" required
          #passwordInput="ngModel">
      </div>
      <button class="likeB" type="submit" [disabled]="registerForm.invalid" (click)="onSubmit()">Crear Cuenta</button>
    </form> <br>
    <button class="likeB" (click)="onSignUp()">
      Log In
    </button>
  </div>
</ion-content>