<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #87CEFA;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Selecciona una fecha</ion-label>
  </ion-item>

  <ion-datetime
    presentation="date"
    size="cover"
    [(ngModel)]="selectedDate:"
    (ionChange)="loadNote()">
  </ion-datetime>

  <ion-item>
    <ion-textarea placeholder="Escribe tu nota:"
                  [(ngModel)]="noteText">
    </ion-textarea>
  </ion-item>

  <ion-button expand="block" (click)="saveNote()">Guardar Nota</ion-button>

  <ion-card *ngIf="loadedNote">
    <ion-card-header>
      <ion-card-title>
        Nota guardada para {{ selectedDate | date:'dd/MM/yyyy' }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ loadedNote }}
    </ion-card-content>
  </ion-card>
</ion-content>
